adafruit-ampy==1.0.7
agraph-python==101.0.6
alabaster==0.7.12
amqp==2.5.1
annexremote==1.4.3
appdirs==1.4.3
apt-xapian-index==0.47
arrow==0.15.4
asgiref==3.3.0
asn1crypto==0.24.0
astor==0.8.0
astroid==2.3.0
asttokens==2.0.3
atomicwrites==1.3.0
attrs==19.1.0
autobahn==20.7.1
Automat==0.7.0
awscli==1.16.269
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
billiard==3.6.1.0
binaryornot==0.4.4
bleach==3.0.2
boto==2.49.0
-e git+git@github.com:koo5/brn.git@fdc4e8e04463e2b7a5971278e3e488b9aea71914#egg=brn&subdirectory=brn
CacheControl==0.12.5
cachetools==4.1.1
cachew==0.8.0
cachy==0.2.0
catfish==1.4.4
celery==4.3.0
certifi==2018.4.16
cffi==1.14.3
cgen==2020.1
chardet==3.0.4
cheap-repr==0.4.1
cheroot==6.3.3
CherryPy==17.0.0
cleo==0.6.8
click==7.1.2
colorama==0.4.1
command-not-found==0.3
constantly==15.1.0
cookiecutter==1.7.2
crontab==0.22.6
cryptography==3.2.1
cssselect==1.0.3
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
daphne==3.0.0
dataclasses==0.7
datalad==0.13.3
debmake==4.2.9
decorator==4.1.2
defer==1.0.6
defusedxml==0.5.0
Deprecated==1.2.10
devscripts===2.17.12ubuntu1.1
distlib==0.3.1
distro==1.5.0
distro-info===0.18ubuntu0.18.04.1
dnspython==1.16.0
docker==4.2.0
docker-pycreds==0.2.1
docker-squash==1.0.8
docutils==0.15.2
dxf2gcode==20170925
entrypoints==0.2.3
enum-compat==0.0.2
eventlet==0.25.1
executing==0.4.2
fastapi==0.61.1
fasteners==0.15
filelock==3.0.12
flake8==3.5.0
Flask==0.10.1
frozendict==1.2
future==0.18.2
gbp==0.9.8
github-backup==0.36.0
gpg==1.10.0
grakn==0.9.0
graphviz==0.5.2
greenlet==0.4.15
grpcio==1.16.0
h11==0.11.0
h2==4.0.0
hpack==4.0.0
-e git+https://github.com/karlicoss/HPI.git@fb4924300508ce16accc3b79bd7253d127872712#egg=HPI
html5lib==1.0.1
httpie==0.9.8
httplib2==0.11.3
humanize==2.6.0
Hypercorn==0.5.4
hyperframe==6.0.0
hyperlink==18.0.0
idna==2.7
ijson==2.3
imagesize==1.1.0
importlib-metadata==0.19
importlib-resources==3.0.0
incremental==17.5.0
iotop==0.6
ipykernel==5.1.0
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jaraco.functools==1.20
jedi==0.13.3
Jinja2==2.10
jinja2-git==1.0.0
jinja2-time==0.2.0
jsmin==2.2.2
json-rpc==1.13.0
jsonrpc==1.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kazam==1.4.5
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
klein==17.10.0
kombu==4.6.5
language-selector==0.1
latexcodec==1.0.5
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.2
LEPL==5.1.3
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
lxml==4.2.3
Mako==1.0.7
markdown2==2.4.0
MarkupSafe==1.1.0
matplotlib==3.1.3
mccabe==0.6.1
memoized==0.3
menulibre==2.2.0
mistune==0.8.4
mock-http==1.0
monotonic==1.5
more-itertools==4.2.0
mpmath==1.0.0
msgpack==0.6.2
mugshot==0.4.0
mypy==0.790
mypy-extensions==0.4.3
nbconvert==5.4.0
nbformat==4.4.0
netifaces==0.10.4
notebook==5.7.0
numpy==1.13.3
oauth==1.0.1
olefile==0.45.1
onboard==1.4.1
otsrdflib==0.5.0
packaging==19.1
pandocfilters==1.4.2
parso==0.3.4
pastel==0.1.1
patool==1.12
pexpect==4.2.1
pickleshare==0.7.4
pika==1.1.0
Pillow==5.1.0
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
pocketsphinx==0.1.15
portend==2.3
powerline-status==2.6
poyo==0.5.0
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
psutil==5.4.2
psycopg2==2.8.4
ptk==1.3.8
ptyprocess==0.6.0
py==1.8.0
py-spy==0.3.3
pyasn1==0.4.7
pyasn1-modules==0.2.8
PyAudio==0.2.11
pyaxon==0.9
pybtex==0.21
pycairo==1.16.2
pycodestyle==2.3.1
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pydantic==1.7.2
pyDatalog==0.17.1
pyenchant==3.2.0
pyFirmata==1.1.0
pyflakes==1.6.0
pygame==1.9.4
PyGithub==1.53
Pygments==2.2.0
pygobject==3.26.1
PyHamcrest==1.9.0
PyJWT==1.7.1
PyLD==2.0.3
pylev==1.3.0
pylint==2.4.1
pymantic==0.1.1.dev0
PyOpenGL==3.1.0
pyOpenSSL==19.1.0
pyparsing==2.2.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.14.11
pyserial==3.4
pytest==5.0.1
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.7.5
python-debian==0.1.32
python-debianbts==2.7.2
python-dotenv==0.14.0
python-espeak==0.5
python-magic==0.4.16
python-slugify==4.0.1
python-xlib==0.20
pytoml==0.1.21
pytools==2020.1
pytz==2019.3
pyudev==0.22.0
pyxattr==0.6.0
pyxdg==0.25
PyYAML==5.3.1
pyzmq==17.1.2
qtconsole==4.4.3
QtPy==1.3.1
rdflib==4.2.2
regex==2017.12.12
reportlab==3.4.0
requests==2.24.0
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
rhythmbox-ampache==0.11
roman==2.0.0
rsa==4.1
rshell==0.0.28
scour==0.36
SecretStorage==2.3.1
sen==0.6.0
Send2Trash==1.5.0
service-identity==18.1.0
sgt-launcher==0.2.4
shellingham==1.3.1
simplegeneric==0.8.1
simplejson==3.16.0
six==1.15.0
slip==0.6.5
slip.dbus==0.6.5
snoop==0.2.4
snowballstemmer==2.0.0
soupsieve==1.9.2
sparql-client==3.4
sparqlquery==0.2.2
SPARQLWrapper==1.8.5
SpeechRecognition==3.8.1
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.20
ssh-import-id==5.7
starlette==0.13.6
sympy==1.3
systemd-python==234
tempora==1.13
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.3
toml==0.10.1
tomlkit==0.5.8
tornado==5.1.1
tox==3.20.1
tqdm==4.48.2
traceback-with-variables==1.1.9
traitlets==4.3.2
tstore==0.1
Twisted==18.9.0
txaio==20.4.1
typed-ast==1.4.1
typing==3.6.4
typing-extensions==3.7.4.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unidiff==0.5.4
urllib3==1.23
urwid==2.0.1
urwidtrees==1.0.1.1
uvicorn==0.12.2
VerbalExpressions==0.0.2
vidcutter==6.0.0
vine==1.3.0
virtualenv==20.0.26
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.15.2
whichcraft==0.6.1
Whoosh==2.7.4
widgetsnbextension==3.4.2
wrapt==1.11.2
wsproto==0.15.0
xcffib==0.5.1
xdot==0.9
xkit==0.0.0
xonsh==0.9.24
youtube-dl==2018.3.14
zipp==0.5.2
zope.interface==4.6.0
